/* Per materialize */
@import "materialize";

/* icona per il social fb */
@import "font-awesome-sprockets";
@import "font-awesome";


/* Rendere il footer fisso */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* Font di base per tutto il progetto */
    font-family: 'Raleway', sans-serif;
  }

  main {
    flex: 1 0 auto;
  }

/* Creazione classe per i bottoni */
.btn-devise {
	width:100%;
}


/* ----------------------------Pagina show */
/* Creare dello spazio tra la cover e il testo */
.show-img {
	padding-right: 5%;
}

/* Creazione classe per show.html.erb - all'ineare il tiotolo all foto */
.show-titolo {
	margin-top: 0;
	/* diminuire la grandezza del tiolo, ed è responsive per i cellulari */
	font-size: 3.4em;
}


/* diminuire la grandezza del prezzo, ed è responsive per i cellulari */
.show-prezzo{
	font-size: 2em;
}

/* diminuire la grandezza di h1 */
h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

h4 {
  font-size: 1.2em;
}



/* ---------------------------------Pagina new */
/* Creazione classe per i bottoni */
.btn-form {
  width:100%;
}

/* ---------------------------------Pagina index */
/* Rendere le card dei contenuti in modo uniforme */
.card-image{
  height: 150px;
}


/* icone in home */
.home-subtitle{
  /* Margini in senso orario */
  margin: 5% 0 5% 0;
}

/* spaziatura per le icone social dektop */
.fa-social{
  padding: 0 10px;
}

/* Se siamo su un dispositivo con una grandezza massima di 600px(cellulare) */
@media (max-width: 600px){

  .fa-social{
  padding: 0 10%;
  }
}

/* Usato per creare spazio tra l'header e l'immagine in show */
.content-show{
  margin-top: 5%;
}

/* Usato per aver più spazio nel menu a comparsa nell'header */
.dropdown-content{
  min-width: 150px;

}



