/* Per materialize */
@import "materialize";

/* Rendere il footer fisso */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* Creazione classe per i bottoni */
.btn-devise {
	width:100%;
}