<!-- inseriamo lo stesso colore della barra di nav e centriamoli-->
<footer class="page-footer blue-grey darken-2 center">
  
  <div class="footer-copyright">
    <div class="container">

      <!--Suddivisione del footer in 3 sezioni -->  
      <div class="row">
        <div class="col s4">
          © 2017 Michele Colaianni
        </div>
        <div class="col s4">
          <!-- Collegamento social a facebook e twitter aprendo una nuova pagina e usado l'icona di fb e twitter, inserndo un colore bianco e rendendo il doppio più grande e usando una classe personalizzata-->
          <a href="http://facebook.com" target="_blank"><i class="fa-social fa fa-facebook fa-2x white-text"></i></a>
          <a href="http://twitter.com/" target="_blank"><i class="fa-social fa fa-twitter fa-2x white-text"></i></a>
        </div>
        <div class="col s4">
          <!-- Collegamento a about lasciando il colore del footer -->
          <%= link_to "About", about_path, class: "grey-text text-lighten-4 right" %>
        </div>
      </div>   
    </div>
  </div>
</footer>